<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Garage</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link">Trang chủ<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/phieutiepnhan/new">Nhận xe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/suachua/new">Lập phiếu sửa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/thutien/new">Thu tiền</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/nhapphutung/new">Nhập phụ tùng</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/danhsachxe">Danh sách xe</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Quản lý
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/khachhang">Khách hàng</a>
          <a class="dropdown-item" routerLink="/phutung">Phụ tùng</a>
          <a class="dropdown-item" routerLink="/hieuxe">Hiệu xe</a>
          <a class="dropdown-item" routerLink="/tiencong">Tiền công</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/phieutiepnhan">Danh sách tiếp nhận</a>
          <a class="dropdown-item" routerLink="/suachua">Danh sách sửa chữa</a>
          <a class="dropdown-item" routerLink="/thutien">Danh sách thu tiền</a>
          <a class="dropdown-item" routerLink="/nhapphutung">Danh sách nhập phụ tùng</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
    <div *ngIf="auth.user$ | async; then authenticated else guest"></div>
    <ng-template #guest>
      <button class="btn btn-outline-light" (click)="auth.googleSignin()">
        <i class="fab fa-google" aria-hidden="true"></i>
        Signin with Google
      </button>
    </ng-template>
    <ng-template #authenticated>
      <form class="form-inline my-2 my-lg-0" *ngIf="auth.user$ | async as user">
        <!-- <p class="mr-sm-2">Hello, {{ user.displayName }}</p> -->
        <a routerLink="/user/profile"><img class="avatar mr-2" [src]="user.photoURL"></a> 
        <button class="btn btn-outline-light my-2 my-sm-0" (click)="auth.signOut()">
          Logout
          <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
        </button>
      </form>
      <!-- <ul class="navbar nav" *ngIf="auth.user$ | async as user">
        <p class="custom">Hello, {{ user.displayName }}</p>
        <img class="avatar" [src]="user.photoURL">
        <div class="division"></div>
        <button class="btn btn-outline-light" (click)="auth.signOut()">
          Logout
          <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
        </button>
      </ul> -->
    </ng-template>
  </div>
</nav>
