<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/trangchu"><h4>FiveKages</h4></a>
  <div class="d-flex flex-row order-2 order-lg-3">
    <ul class="navbar-nav flex-row">
      <li class="nav-item ">
        <a class="nav-link  px-2 d-block d-lg-none" routerLink="/trangchu" [routerLinkActive]="['active']">
          <i class="fa fa-home" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 d-block d-lg-none" routerLink="/phieutiepnhan/new" [routerLinkActive]="['active']">
          <i class="fas fa-car"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link  px-2 d-block d-lg-none" routerLink="/suachua/new" [routerLinkActive]="['active']">
          <i class="fas fa-wrench"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link  px-2 d-block d-lg-none" routerLink="/thutien/new" [routerLinkActive]="['active']">
          <i class="fas fa-file-invoice-dollar"></i>
        </a>
      </li>
      <li class="nav-item">
          <a class="nav-link px-2 d-block d-lg-none" routerLink="/nhapphutung/new" [routerLinkActive]="['active']">
            <i class="fas fa-cart-plus"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-2 d-block d-lg-none" routerLink="/danhsachxe" [routerLinkActive]="['active']">
            <i class="fas fa-clipboard-list"></i></a>
        </li>
    </ul>
    <button #navbar class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <!-- <a [routerLink]="[ '/path' ]" routerLinkActive="active">name</a> -->
      <li class="nav-item ">
        <a class="nav-link" routerLink="/trangchu" [routerLinkActive]="['active']">
          <i class="fa fa-home px-1" aria-hidden="true"></i>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/phieutiepnhan/new" [routerLinkActive]="['active']">
          <i class="fas fa-car px-1"></i>Nhận xe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/suachua/new" [routerLinkActive]="['active']">
          <i class="fas fa-wrench px-1"></i>Phiếu sửa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/thutien/new" [routerLinkActive]="['active']">
          <i class="fas fa-file-invoice-dollar px-1"></i>Thu tiền</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/nhapphutung/new" [routerLinkActive]="['active']">
          <i class="fas fa-cart-plus px-1"></i>Nhập phụ tùng</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/danhsachxe" [routerLinkActive]="['active']">
          <i class="fas fa-clipboard-list px-1"></i>Danh sách xe</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Quản lý
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/khachhang">Khách hàng</a>
          <a class="dropdown-item" routerLink="/phutung">Phụ tùng</a>
          <a class="dropdown-item" routerLink="/hieuxe">Hiệu xe</a>
          <a class="dropdown-item" routerLink="/tiencong">Tiền công</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/phieutiepnhan">Danh sách tiếp nhận</a>
          <a class="dropdown-item" routerLink="/suachua">Danh sách sửa chữa</a>
          <a class="dropdown-item" routerLink="/thutien">Danh sách thu tiền</a>
          <a class="dropdown-item" routerLink="/nhapphutung">Danh sách nhập phụ tùng</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/recycle">Recycle bin</a>
        </div>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li> -->
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
    <div *ngIf="auth.user$ | async; then authenticated else guest"></div>
    <ng-template #guest>
      <button class="btn btn-outline-light" (click)="auth.googleSignin()">
        <i class="fab fa-google" aria-hidden="true"></i>
        Signin with Google
      </button>
    </ng-template>
    <ng-template #authenticated>
      <form class="form-inline my-2 my-lg-0" *ngIf="auth.user$ | async as user">
        <!-- <p class="mr-sm-2">Hello, {{ user.displayName }}</p> -->
        <a routerLink="/user/profile"><img class="avatar mr-2" [src]="user.photoURL"></a>
        <button class="btn btn-outline-light my-2 my-sm-0" (click)="auth.signOut()">
          Logout
          <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
        </button>
      </form>
      <!-- <ul class="navbar nav" *ngIf="auth.user$ | async as user">
        <p class="custom">Hello, {{ user.displayName }}</p>
        <img class="avatar" [src]="user.photoURL">
        <div class="division"></div>
        <button class="btn btn-outline-light" (click)="auth.signOut()">
          Logout
          <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
        </button>
      </ul> -->
    </ng-template>
  </div>
</nav>
