.app-footer{
    background-color: #111111;
}

.footer .container-fluid {
    background-color: #111111;
    color: white;
}
.footer .footer-copyright {
    border-top: 1px solid white;
    background-color: #111111;
    color: azure;
}
a {
    color: lightblue;
    text-decoration: none;
}
a:hover {
    color: gold;
    text-decoration: none;
}