.warning {
  background-color: #ffffcc;
  border-left: 6px solid #ffeb3b;
}

.danger {
  background-color: #ffdddd;
  border-left: 6px solid #f44336;
  margin-bottom: 15px;
  padding: 4px 12px;
}
.rounded {
  background-color: white;
}

.bg-color{
  padding: 20px;
}

.bg-color h2{
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  padding: 15px 0;
  text-align: center;
}