<div class="rounded block bg-primary">
    <h2 class="p-2 text-white-50 text-center">Phụ tùng</h2>
  </div>
<div class="shadow rounded" style="padding: 10px">
  <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
    <!-- <input type="hidden" name="id" #id="ngModel" [(ngModel)]="employee.id"> -->
    <div class="form-group">
      <label for="phutung">Tên phụ tùng:</label>
      <input id="'phutung'" name="tenphutung" #tenphutung="ngModel" [(ngModel)]="phutung.tenphutung"
        placeholder="Tên phụ tùng" class="form-control" [minlength]="5" [maxlength]="15"
        pattern="[a-zA-ZÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀỀỂưăạảấầẩẫậắằẳẵặẹẻẽềếểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ\s]*"
         required>
      <div class="validation-error" *ngIf="tenphutung.invalid && tenphutung.touched">Không phù hợp</div>
    </div>
    <div class="form-group">
      <label for="gia">Giá phụ tùng:</label>
      <input type="number" (keyup)="checkSL()" (change)="checkSL()" [min]="1000" [max]="10000000" id="gia"
        class="form-control" name="giaphutung" #giaphutung="ngModel" [(ngModel)]="phutung.giaphutung"
        placeholder="giaphutung">
    </div>
    <div class="form-group">
      <button class="form-control btn btn-block btn-info" [disabled]="form.invalid || !isshow" type="submit"
        style="display: flex; justify-content: center">
        <h5 *ngIf="isshow">Xác nhận</h5>
        <mat-spinner strokeWidth="5" diameter="25" *ngIf="!isshow"></mat-spinner>
        <h5 *ngIf="!isshow">Vui lòng chờ...</h5>
      </button>
    </div>
  </form>
</div>