<div class="rounded">
  <h5 class="text-center"><strong>Doanh thu tháng hiện tại</strong></h5>
  <form #form="ngForm" autocomplete="off">
    <div class="container">
      <div class="form-group row">
        <div class="col"></div>
        <div class="col form-inline">
          <label for="thang">Tháng:</label>
          <input id="thang" type="number" readonly="true" [min]="1" [max]="12" class="form-control" (keyup)="checkSL()"
            name="thang" [(ngModel)]="thang" required>
        </div>
        <div class="col"></div>
      </div>
    </div>
    <div class="form-group">
      <app-ct-doanhso-list></app-ct-doanhso-list>
    </div>
    <div class="form-group">
      <!-- <button class="form-control btn btn-block btn-info" [disabled]="form.invalid || invalid" type="submit"
        style="display: flex; justify-content: center">
        <h5 *ngIf="isshow">Submit</h5>
        <mat-spinner diameter="25" *ngIf="!isshow"></mat-spinner>
      </button> -->
    </div>
  </form>
</div>
