<button routerLink="/thutien/new" class="btn btn-success">Thêm phiếu thu</button>
<h1>Danh sách phiếu thu tiền</h1>
<div class="shadow-lg">
  <table class="table table-hover">
    <thead>
      <th>STT</th>
      <th>Tên chủ xe</th>
      <th>Biển số</th>
      <th>Ngày thu tiền</th>
      <th>Điện thoại</th>
      <th>Địa chỉ</th>
      <th>Tổng tiền thu</th>
    </thead>
    <tbody>
      <tr *ngFor="let thutien of thutienList, let i = index">
        <th scope="row">{{i + 1}}</th>
        <td> {{thutien.tenchuxe}} </td>
        <td>{{thutien.bienso}}</td>
        <td>{{thutien.ngaythutien | customdatetime}}</td>
        <td>{{thutien.dienthoai}}</td>
        <td>{{thutien.diachi}}</td>
        <td>{{thutien.sotienthu}}</td>
        <td> <a matTooltip="Edit" type="button" class="btn text-warning"
            [routerLink]="[ '/thutien/detail/', thutien.idphieuthutien ]">
            <i class="fa fa-cog" aria-hidden="true"></i>
          </a></td>
        <td> <a matTooltip="Delete" type="button" class="btn text-danger" (click)="onDelete(thutien.idphieuthutien)">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a></td>
      </tr>
    </tbody>
  </table>
</div>
<button (click)="show()">show</button>
