#phieunhan:hover .fa {
    color:white;
}
#phieusua:hover .fa {
    color:white;
}
#phieutien:hover .fa {
    color:whitesmoke;
}
/* .list-group {
    width: 2em;
} */
/* .btn {
    margin-right: 5px;
} */
.shadow {
    background-color: aliceblue;
}