<!-- <h1 class="text-center">Danh sách phiếu sửa chữa</h1> -->
<div class="rounded block bg-color">

  <h2>Danh sách sửa chữa</h2>

  <button routerLink="/suachua/new" class="btn btn-success btn-block btn-add">Thêm phiếu sửa</button>

  <div class="row form-search">

    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">

    </div>

    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">

      <input type="text" name="search" [(ngModel)]="searchvalue" class="form-control search-form"
        placeholder="Nhập thông tin tìm kiếm">

    </div>

    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
      <span class="input-group-text search-icon">
        <i class="fa fa-search " aria-hidden="true"></i>
      </span>
    </div>

    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">

    </div>




  </div>

  <div class="row">

    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">

    </div>

    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
      <table class="table table-hover">
        <thead>
          <th>STT</th>
          <th (click)="sort('bienso')">Biển số
            <i class="fas" *ngIf="key =='bienso'" [ngClass]="{'fa-sort-up': reverse,'fa-sort-down': !reverse}"></i>
          </th>
          <th (click)="sort('ngaysuachua')">Ngày sửa chữa
            <i class="fas" *ngIf="key =='ngaysuachua'" [ngClass]="{'fa-sort-up': reverse,'fa-sort-down': !reverse}"></i>
          </th>
          <th (click)="sort('tongtien')">Tổng tiền
            <i class="fas" *ngIf="key =='tongtien'" [ngClass]="{'fa-sort-up': reverse,'fa-sort-down': !reverse}"></i>
          </th>
          <th></th>
        </thead>
        <tbody>
          <tr>
            <div *ngIf="suachuaList$ | async, then listitem else matprogressbar">
            </div>
            <ng-template #matprogressbar>
              <td colspan="5">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </td>
            </ng-template>
            <ng-template #listitem>
            </ng-template>
          </tr>

          <tr
            *ngFor="let suachua of suachuaList$ | async | sclistsearch:searchvalue | orderBy:key:reverse | paginate:{ itemsPerPage: 5, currentPage: p }, let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{suachua.bienso}}</td>
            <td>{{suachua.ngaysuachua | customdatetime}}</td>
            <td>{{suachua.tongtien | currency:'VND'}}</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-warning"
                  [routerLink]="[ '/suachua/detail/', suachua.idphieusuachua ]">
                  <i class="fa fa-cog" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-danger" (click)="onDelete(suachua.idphieusuachua)">
                  <i class="fa fa-trash" aria-hidden="true"></i></button>
              </div>
              <!-- <div class="btn-group">
                  <a type="button" class="btn btn-warning"
                  [routerLink]="[ '/suachua/detail/', suachua.idphieusuachua ]">
                  <i class="fa fa-cog" aria-hidden="true"></i>
                </a>
                <a type="button" class="btn btn-danger" (click)="onDelete(suachua.idphieusuachua)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
              </div>  -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">

    </div>

  </div>

  <div class="row">

    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 control">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>

    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

    </div>

  </div>

</div>