
.validation-error {
  color:red;
}
.rounded {
  background-color: aliceblue;
}
.block .text-center {
  color: aliceblue;
}
.bs-primary{
  background-color: black;
}
.rounded {
  background-color: white;
}

.bg-color{
  padding: 20px;
}

.bg-color h2{
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  padding: 15px 0;
  text-align: center;
}