<button routerLink="/hieuxe/new" class="btn btn-success">Thêm hiệu xe</button>
<h1>Danh sách hiệu xe</h1>
<table class="table table-hover">
  <thead>
    <th>STT</th>
    <th>Tên hiệu xe</th>
    <th></th>
  </thead>
  <tbody>
      <tr *ngIf="!(hieuxeList.length !== 0)">
          <td colspan="3">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </td>
        </tr>
    <tr *ngFor="let hieuxe of hieuxeList, let i = index">
      <th scope="row">{{i+1}}</th>
      <td> {{hieuxe.hieuxe}} </td>
      <td> <a matTooltip="Edit" class="btn text-warning" [routerLink]="[ '/hieuxe/detail/', hieuxe.idhieuxe ]">
          <i class="fa fa-cog" aria-hidden="true"></i>
        </a>
        <a matTooltip="Delete" class="btn text-danger" (click)="onDelete(hieuxe.idhieuxe)">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
