<button routerLink="/hieuxe/new" class="btn btn-success">Thêm hiệu xe</button>
<div class="rounded block bg-primary">
  <h2 class="p-2 mt-2 text-white-50 text-center">Danh sách hiệu xe</h2>
</div>
<div class="shadow rounded">
  <table class="table table-hover">
    <thead>
      <th>Tên hiệu xe</th>
      <th></th>
    </thead>
    <tbody>
      <!-- <tr *ngIf="!(hieuxeList.length !== 0)">
        <td colspan="3">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </td>
      </tr> -->
      <div *ngIf="hieuxeList$ | async, then listitem else matprogressbar">
      </div>
      <ng-template #matprogressbar>
        <td class="differ" colspan="3">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </td>
      </ng-template>
      <ng-template #listitem>
      </ng-template>
      <tr *ngFor="let hieuxe of hieuxeList$ | async | paginate:{ itemsPerPage: 5, currentPage: p }, let i = index">
        <td> {{hieuxe.hieuxe}} </td>
        <td>
          <div class="btn-group">
            <button class="btn btn-warning" [routerLink]="[ '/hieuxe/detail/', hieuxe.idhieuxe ]">
              <i class="fa fa-cog" aria-hidden="true"></i>
            </button>
            <button class="btn btn-danger" (click)="onDelete(hieuxe.idhieuxe)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </div>
          <!-- <a matTooltip="Edit" class="btn text-warning" [routerLink]="[ '/hieuxe/detail/', hieuxe.idhieuxe ]">
            <i class="fa fa-cog" aria-hidden="true"></i>
          </a>
          <a matTooltip="Delete" class="btn text-danger" (click)="onDelete(hieuxe.idhieuxe)">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a> -->
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
